.center-home-options {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px 0;
}
.centering {
  display: flex;
  justify-content: center;
}
.top-Picks {
  width: 305px;
  background-color: #ffffffc5;
  padding: 0px;
}
div.the-country-slider {
  margin: 0 0 10px 0;
  height: 285px;
  width: 240px;
  border: 1.5px solid #b3b4b48c;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff2f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div.slider {
  margin: 0 0 5px 0;
  height: 285px;
  width: 280px;
  border: 1.5px solid #b3b4b48c;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffffa6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.country-top-Picks {
  width: 305px;
  background-color: #ffffffc5;
}
.wrap-country-top-picks {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.country-container {
  margin: 5px;
  display: flex;
  flex-direction: column;
  border: 1.5px solid #b3b4b48c;
  background-color: #ffffff77;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}

.country-slider {
  color: #92ca64;
  font-weight: 900;
  font-size: 1.3rem;
}
.seeMore {
  color: #92ca64;
  font-weight: 900;
  font-size: 1.15rem;
}
.green:hover {
  color: #a8e973;
}
div.country-homeRecipeSlider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  flex-wrap: wrap;
}
img.slider {
  margin-top: 5px;
  width: 227px;
  border-radius: 3px;
}
img.the-country-slider {
  width: 233px;
  border-radius: 3px;
}
h5.slider {
  font-size: 0.83rem;
}
.small-view-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.med-size {
  display: none;
}
@media (min-width: 375px) {
  .top-Picks,
  .country-top-Picks {
    width: 355px;
  }
  div.slider {
    width: 335px;
    height: 300px;
  }
  img.slider {
    width: 237px;
  }
  h5.slider {
    font-size: 0.95rem;
  }

  div.the-country-slider {
    margin: 0 0 15px 0;
    height: 335px;
    width: 285px;
  }
  img.the-country-slider {
    width: 273px;
  }
}
@media (min-width: 411px) {
  .top-Picks,
  .country-top-Picks {
    width: 380px;
  }
  div.slider {
    width: 360px;
    height: 310px;
  }
  img.slider {
    width: 257px;
  }
  h5.slider {
    font-size: 1rem;
  }

  div.the-country-slider {
    margin: 0 0 20px 0;
    height: 345px;
    width: 295px;
  }
  img.the-country-slider {
    margin-top: 10px;
    width: 268px;
  }
}
@media (min-width: 600px) {
  .recipeBox-results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 546px;
    border: 1.5px solid #b3b4b48c;
    background-color: #ffffffc5;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0 5px 0;
  }
  .med-size {
    display: block;
  }
  .top-Picks,
  .country-top-Picks {
    width: 100%;
  }
  div.slider {
    width: 230px;
    height: 240px;
    margin: 5px 5px 15px 5px;
  }
  img.slider {
    width: 175px;
  }
  h5.slider {
    font-size: 0.9rem;
  }
  .homeRecipeSlider {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  div.the-country-slider {
    margin: 5px 7.5px;
    height: 300px;
    width: 235px;
  }
  img.the-country-slider {
    width: 213px;
  }
}
@media (min-width: 760px) {
  .recipeBox-results {
    width: 712px;
  }
  div.slider {
    width: 315px;
    height: 310px;
    margin: 5px 5px 15px 5px;
  }
  img.slider {
    width: 227px;
  }
  h5.slider {
    font-size: 1.1rem;
  }
  div.the-country-slider {
    margin: 5px 7.5px;
    height: 300px;
    width: 318px;
  }
  img.the-country-slider {
    width: 213px;
  }
}
@media (min-width: 1024px) and (min-height: 1366px) {
  .recipeBox-results {
    width: 975px;
  }
  .top-Picks {
    width: 100vw;
  }
  div.slider {
    width: 285px;
    height: 305px;
    margin: 5px 6px 15px 6px;
  }
  img.slider {
    width: 227px;
  }
  h5.slider {
    font-size: 1rem;
  }

  div.the-country-slider {
    margin: 5px 7.5px;
    height: 275px;
    width: 195px;
  }
  img.the-country-slider {
    width: 173px;
  }
}

@media (min-width: 1280px) {
  .small-view-flex {
    min-height: 0px;
  }
  img.home-category {
    width: 70px;
    border-radius: 50%;
  }

  .top-Picks {
    width: 1050px;
    border: 1.5px solid #b3b4b48c;
    border-radius: 10px;
    padding: 10px;
  }
  h2.slider {
    color: #92ca64;
    font-weight: 900;
    text-shadow: 0.5px 0.5px 0.5px #ffffff, 0 0 5px #c4c2c227;
    padding: 5px;
  }
  h5.slider {
    font-size: 0.83rem;
  }
  div.the-country-slider {
    width: 205px;
    height: 285px;
  }
  div.slider {
    width: 223px;
    height: 280px;
  }

  .country-top-Picks {
    width: 1050px;
    border: 1.5px solid #b3b4b48c;
    border-radius: 10px;
    padding: 10px;
  }

  .country-container {
    margin: 5px 5px 10px 5px;
  }
  img.slider {
    margin-top: 0px;
    width: 219px;
  }
  img.the-country-slider {
    margin-top: 0px;
    width: 205px;
  }
  .homeRecipeSlider {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    flex-wrap: nowrap;
  }
}
