.aboutPage {
  position: relative;
}
.secondTearHeader {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
}
.aboutInspiration {
  text-decoration: underline;
  letter-spacing: 0.5px;
  text-align: center;
}
.aboutParagraph,
.thanksParagraph {
  text-align: left;
  background-color: #4d5366ce;
  border-radius: 20px;
  border: 1.5px solid #92ca649c;
  text-shadow: 0 0 10px black, 1.5px 1.5px 0.2px grey;
  font-weight: 700;
  padding: 20px;
  color: white;
  position: absolute;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutParagraph {
  top: 220px;
}

h5.about {
  padding-bottom: 10px;
  font-size: 0.7rem;
}

.aboutPageSpacing {
  height: 170px;
}
strong {
  text-align: center;
  font-size: 1.1rem;
}
.big-view {
  display: none;
}

@media (min-width: 375px) {
  h5.about {
    font-size: 0.8rem;
  }
  .aboutInspiration {
    font-size: 1.5rem;
  }
  p.about {
    font-size: 1rem;
  }
  strong {
    font-size: 1.1rem;
  }
  .aboutPageSpacing {
    height: 180px;
  }
}

@media (min-width: 411px) {
  h5.about {
    font-size: 0.9rem;
  }
  .aboutInspiration {
    font-size: 1.7rem;
  }
  p.about {
    font-size: 1.2rem;
  }
  strong {
    font-size: 1.3rem;
  }
}
@media (min-width: 600px) {
  h5.about {
    font-size: 1.15rem;
  }
  .aboutInspiration {
    font-size: 1.85rem;
  }
  p.about {
    font-size: 1.35rem;
  }
  strong {
    font-size: 1.45rem;
  }
  .aboutParagraph {
    padding: 25px;
    top: 240px;
    margin: 0 40px;
  }

  .aboutPageSpacing {
    height: 50px;
  }
}
@media (min-width: 760px) {
  h5.about {
    font-size: 1.25rem;
  }
  .aboutInspiration {
    font-size: 1.95rem;
  }
  p.about {
    font-size: 1.45rem;
  }
  strong {
    font-size: 1.55rem;
  }
  .aboutParagraph {
    padding: 25px;
    top: 240px;
    margin: 0 80px;
  }
  .thanksParagraph {
    top: 700px;
    margin: 0 80px;
  }
  .aboutPageSpacing {
    height: 0;
  }
}
@media (min-width: 1024px) and (min-height: 1366px) {
  h5.about {
    font-size: 1.55rem;
  }
  .aboutInspiration {
    font-size: 2.25rem;
  }
  p.about {
    font-size: 1.75rem;
  }
  strong {
    font-size: 1.85rem;
  }
  .aboutParagraph {
    top: 275px;
    margin: 0 130px;
  }
  .thanksParagraph {
    top: 820px;
    margin: 0 130px;
  }
  .defaultHeight {
    min-height: 100vh;
  }
}

@media (min-width: 1280px) {
  .aboutSpacingFromNav {
    height: 180px;
  }

  .center-about {
    display: flex;
    justify-content: center;
  }
  .big-view {
    display: block;
  }
  .small-view {
    display: none;
  }
  h5.about {
    font-size: 1rem;
  }
  .aboutPage {
    height: 100vh;
  }
  h2.aboutInspiration {
    color: #92ca64;
    font-weight: 900;
    text-shadow: 0.5px 0.5px 0.5px #ffffff, 0 0 5px #c4c2c227;
  }
  .aboutInspiration {
    font-size: 1.6rem;
  }
  p.about {
    font-size: 1rem;
    margin: 0 5px;
  }
  strong {
    font-size: 1.1rem;
  }
  .aboutParagraph-desktop {
    text-align: left;
    text-shadow: 0.5px 0.5px 0.5px #ffffff, 0 0 5px #c4c2c227;
    font-weight: 800;
    color: #4d5366;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1050px;
    border: 1.5px solid #b3b4b48c;
    background-color: #ffffffc5;
    border-radius: 10px;
    padding: 10px;
  }
  .EDAMAM-link:hover {
    cursor: pointer;
    color: #828692;
  }
  .aboutParagraph {
    margin: 0 150px;
    width: 80vw;
    margin: 0 10vw;
  }
}
