.centerRecipePage {
  width: 100%;
  display: flex;
  justify-content: center;
}
.RowImageAndWarnings {
  display: flex;
  justify-content: space-between;
}
.recipe-page-main {
  width: 290px;
  border: 1.5px solid #b3b4b48c;
  background-color: #ffffffc5;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0 5px 0;
}

.singleViewRecipeImage {
  border-radius: 5px;
  box-shadow: 0 0 1px #000000;
  width: 230px;
  margin: 10px;
}
.singleRecipeLabel {
  margin-top: 10px;
}
.RecipeInfoContainer {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.RecipeInfoBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.healthAndWarningsContainer-recipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.red-bg,
.green-bg {
  border-radius: 5px;
  padding: 3px;
  margin: 2px;
  font-size: 0.7rem;
  font-weight: 900;
}
.red-bg {
  color: #e40404bd;
  box-shadow: 0 0 0.5px #e4040486;
  text-shadow: 0.2px 0px 0px#c0131386;
  letter-spacing: 0.3px;
}
.green-bg {
  color: #0ce404bd;
  box-shadow: 0 0 0.5px #0ce404d2;
  text-shadow: 0.2px 0px 0px #2e9e2abd;
  letter-spacing: 0.3px;
}
.line-recipePage {
  height: 1px;
  background-color: #81848d;
  width: 255px;
  margin: 8px 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline-color: transparent;
}
.recipeInfoLabel {
  background-image: linear-gradient(#4d5366, #444a5a);
  font-size: 1rem;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.418);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.712);
  padding: 5px 14.5px;
  color: white;
}
.shadedRecipeInfoLabel {
  background-image: linear-gradient(#444a5a, #4d5366);
  font-size: 1rem;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.418);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.568);
  padding: 5px 14.5px;
  color: #ffffffea;
}
.shadedRecipeInfoLabel:hover {
  cursor: pointer;
}
.recipeInfoLabel:hover {
  border: 1px solid rgba(255, 255, 255, 0.418);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.404);
  color: #ffffffea;
  background-image: linear-gradient(#444a5a, #4d5366);
  cursor: pointer;
}
.recipeInfo {
  text-align: left;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nutrition-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.RecipeInfoDisplayed {
  text-align: left;
  padding: 10px 0;
  width: 100%;
  height: 230px;
}
.scroll {
  overflow-x: scroll;
  height: 250px;
  width: 280px;
}
.cell {
  font-size: 0.5rem;
  width: 100px;
}

.singleRecipeInformation {
  font-size: 0.85rem;
}

.an-position {
  top: 14.5%;
  left: 2%;
}

@media (min-width: 360px) {
}
@media (min-width: 375px) {
  .recipe-page-main {
    width: 343px;
  }
  .singleViewRecipeImage {
    width: 320px;
  }
  .healthAndWarningsContainer-recipe {
    width: 90vw;
    margin: 0 5vw;
  }
  p.red-bg,
  p.green-bg {
    font-size: 0.9rem;
  }
  .recipeInfoLabel,
  .shadedRecipeInfoLabel {
    font-size: 1.2rem;
    padding: 5px 17.1px;
  }
  .line-recipePage {
    width: 343px;
  }
}
@media (min-width: 411px) {
  .recipe-page-main {
    width: 373px;
  }
  .singleRecipeLabel {
    font-size: 1.7rem;
  }
  .singleViewRecipeImage {
    width: 360px;
  }
  .singleRecipeFacts {
    font-size: 1.3rem;
  }
  p.red-bg,
  p.green-bg {
    font-size: 1rem;
  }
  .recipeInfoLabel,
  .shadedRecipeInfoLabel {
    font-size: 1.3rem;
    padding: 5px 17.9px;
  }
  .line-recipePage {
    width: 361px;
  }
}
@media (min-width: 600px) {
  .recipe-page-main {
    width: 520px;
  }
  .headerOrFooterBiggerScreens {
    display: block;
  }
  .singleRecipeLabel {
    font-size: 1.9rem;
  }
  .singleViewRecipeImage {
    width: 300px;
  }
  .singleRecipeFacts {
    font-size: 1.1rem;
  }
  .healthAndWarningsContainer-recipe {
    width: 80vw;
    margin: 0 10vw;
  }

  p.red-bg,
  p.green-bg {
    font-size: 1rem;
  }
  .flexColumns {
    display: flex;
    justify-content: space-between;
  }
  .recipeInfoLabel,
  .shadedRecipeInfoLabel {
    font-size: 1.3rem;
    padding: 5px 36.2px;
  }
  .line-recipePage {
    width: 470px;
  }
}
@media (min-width: 760px) {
  .recipe-page-main {
    width: 680px;
  }
  .headerOrFooterBiggerScreens {
    display: block;
  }
  .singleRecipeLabel {
    font-size: 2.5rem;
  }
  .singleViewRecipeImage {
    width: 390px;
  }
  .singleRecipeFacts {
    font-size: 1.8rem;
  }
  p.red-bg,
  p.green-bg {
    font-size: 1.4rem;
  }
  .recipeInfoLabel,
  .shadedRecipeInfoLabel {
    font-size: 1.5rem;
    padding: 5px 53.1px;
  }
  .recipeInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .line-recipePage {
    width: 607px;
  }
}
@media (min-width: 1024px) and (min-height: 1366px) {
  .recipe-page-main {
    width: 930px;
  }
  .headerOrFooterBiggerScreens {
    display: block;
  }

  .singleRecipeLabel {
    font-size: 2.8rem;
  }
  .singleViewRecipeImage {
    width: 500px;
  }
  .singleRecipeFacts {
    font-size: 1.9rem;
  }
  p.red-bg,
  p.green-bg {
    padding: 8px;
  }
  .recipeInfoLabel,
  .shadedRecipeInfoLabel {
    font-size: 1.5rem;
    padding: 8px 86.5px;
  }

  .line-recipePage {
    width: 808px;
  }
}
@media (min-width: 1280px) {
  .recipePageLine {
    height: 1px;
    background-color: #81848d;
    width: 80%;
    margin: 8px 0;
  }

  .recipe-page-main {
    width: 1050px;
    border: 1.5px solid #b3b4b48c;
    background-color: #ffffffc5;
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 5px 0;
  }
  .centerImageAndWarnings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .RowImageAndWarnings {
    width: 645px;
  }
  .singleRecipeLabel {
    font-size: 2rem;
  }
  .singleViewRecipeImage {
    width: 250px;
  }
  .singleRecipeFacts {
    font-size: 0.9rem;
  }
  .healthAndWarningsContainer-recipe {
    width: 100%;
    margin: 0;
  }
  p.red-bg,
  p.green-bg {
    font-size: 1rem;
  }
  .recipeInfoLabel,
  .shadedRecipeInfoLabel {
    font-size: 1.1rem;
    padding: 8px 67.8px;
  }
  .line-recipePage {
    width: 624.5px;
    margin: 8px 0;
  }
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: #444a5afa;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-left: -250px;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}
@media (min-width: 1440px) {
  .singleRecipeLabel {
    font-size: 2.1rem;
  }
  .singleViewRecipeImage {
    width: 300px;
  }
  .singleRecipeFacts {
    font-size: 1rem;
  }
  .RowImageAndWarnings {
    width: 720px;
  }
  .recipeInfoLabel,
  .shadedRecipeInfoLabel {
    font-size: 1.2rem;
    padding: 8px 77.4px;
  }
  .line-recipePage {
    width: 702.8px;
  }
}
