/* single view recipe start */

.singleViewRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singleViewRecipeImage {
  border-radius: 5px;
  box-shadow: 0 0 1px #000000;
  width: 250px;
  margin: 10px;
}
.singleRecipeLabel {
  margin-top: 10px;
}
.RecipeInfoContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2px 10px;
}
.RecipeInfoDisplayed {
  padding: 10px 0;
  width: 280px;
  min-height: 270px;
}
.RecipeInfoBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.healthAndWarningsContainer-recipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.red-bg,
.green-bg {
  border-radius: 5px;
  padding: 3px;
  margin: 2px;
  font-size: 0.7rem;
  font-weight: 900;
}
.red-bg {
  color: #e40404bd;
  box-shadow: 0 0 0.5px #e4040486;
}
.green-bg {
  color: #0ce404bd;
  box-shadow: 0 0 0.5px #0ce404d2;
}
.line-recipePage {
  height: 1px;
  background-color: #81848d;
  width: 295px;
  margin: 8px 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline-color: transparent;
}
.recipeInfoLabel {
  background-image: linear-gradient(#4d5366, #444a5a);
  font-size: 1rem;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.418);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.712);
  padding: 5px 5px;
  color: white;
}
.shadedRecipeInfoLabel {
  background-image: linear-gradient(#444a5a, #4d5366);
  font-size: 1rem;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.418);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.568);
  padding: 5px 5px;
  color: #ffffffea;
}
.shadedRecipeInfoLabel:hover {
  cursor: pointer;
}
.recipeInfoLabel:hover {
  border: 1px solid rgba(255, 255, 255, 0.418);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.404);
  color: #ffffffea;
  background-image: linear-gradient(#444a5a, #4d5366);
  cursor: pointer;
}
.recipeInfo {
  text-align: left;
  padding: 10px 0;
}
.recipeInfoIngredients {
  text-align: left;
  padding: 10px 0;
}
.informationDisplayed {
  width: 100%;
}
.informationDisplayedIngredients {
  width: 100%;
}
h4.singleRecipeInformation {
  font-size: 0.9rem;
}
p.singleRecipeInformation {
  font-size: 0.9rem;
}
/* single view recipe end */

@media (min-width: 375px) {
  .singleViewRecipeImage {
    width: 320px;
  }
  .healthAndWarningsContainer-recipe {
    width: 90vw;
    margin: 0 5vw;
  }
  p.red-bg,
  p.green-bg {
    font-size: 0.9rem;
  }
  .recipeInfoLabel {
    font-size: 1.2rem;
  }
  .shadedRecipeInfoLabel {
    font-size: 1.2rem;
  }
  .RecipeInfoDisplayed {
    padding: 10px 0;
    width: 340px;
    min-height: 300px;
  }
  h4.singleRecipeInformation {
    font-size: 1rem;
  }
  p.singleRecipeInformation {
    font-size: 1rem;
  }
  .line-recipePage {
    width: 343px;
  }
}
@media (min-width: 411px) {
  .singleRecipeLabel {
    font-size: 1.7rem;
  }
  .singleViewRecipeImage {
    width: 360px;
  }
  .singleRecipeFacts {
    font-size: 1.3rem;
  }
  p.red-bg,
  p.green-bg {
    font-size: 1rem;
  }
  .recipeInfoLabel {
    font-size: 1.3rem;
  }
  .shadedRecipeInfoLabel {
    font-size: 1.3rem;
  }
  .RecipeInfoDisplayed {
    width: 360px;
    min-height: 330px;
  }
  h4.singleRecipeInformation {
    font-size: 1.07rem;
  }
  p.singleRecipeInformation {
    font-size: 1.07rem;
  }
  .line-recipePage {
    width: 361px;
  }
}
@media (min-width: 600px) {
  .headerOrFooterBiggerScreens {
    display: block;
  }
  .singleRecipeLabel {
    font-size: 1.9rem;
  }
  .singleViewRecipeImage {
    width: 300px;
  }
  .singleRecipeFacts {
    font-size: 1.1rem;
  }
  .healthAndWarningsContainer-recipe {
    width: 80vw;
    margin: 0 10vw;
  }

  p.red-bg,
  p.green-bg {
    font-size: 1rem;
  }
  .recipeInfoLabel {
    font-size: 1.2rem;
    padding: 5px 21px;
  }
  .shadedRecipeInfoLabel {
    font-size: 1.2rem;
    padding: 5px 21px;
  }
  .recipeInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .RecipeInfoDisplayed {
    width: 450px;
    min-height: 420px;
  }
  .informationDisplayed {
    width: 225px;
  }
  h4.singleRecipeInformation {
    font-size: 0.8rem;
  }
  p.singleRecipeInformation {
    font-size: 0.8rem;
  }
  .line-recipePage {
    width: 470px;
  }
}
@media (min-width: 760px) {
  .headerOrFooterBiggerScreens {
    display: block;
  }
  .singleRecipeLabel {
    font-size: 2.5rem;
  }
  .singleViewRecipeImage {
    width: 390px;
  }
  .singleRecipeFacts {
    font-size: 1.8rem;
  }
  p.red-bg,
  p.green-bg {
    font-size: 1.4rem;
  }
  .recipeInfoLabel {
    font-size: 1.5rem;
    padding: 5px 30px;
  }
  .shadedRecipeInfoLabel {
    font-size: 1.5rem;
    padding: 5px 30px;
  }
  .recipeInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .RecipeInfoDisplayed {
    width: 580px;
    min-height: 505px;
  }
  .informationDisplayed {
    width: 290px;
  }
  h4.singleRecipeInformation {
    font-size: 1.17rem;
  }
  p.singleRecipeInformation {
    font-size: 1.17rem;
  }
  .line-recipePage {
    width: 607px;
  }
}
@media (min-width: 1024px) and (min-height: 1366px) {
  .headerOrFooterBiggerScreens {
    display: block;
  }

  .singleRecipeLabel {
    font-size: 2.8rem;
  }
  .singleViewRecipeImage {
    width: 500px;
  }
  .singleRecipeFacts {
    font-size: 1.9rem;
  }
  p.red-bg,
  p.green-bg {
    padding: 8px;
  }
  .recipeInfoLabel {
    padding: 8px 55px;
  }
  .shadedRecipeInfoLabel {
    padding: 8px 55px;
  }
  .RecipeInfoDisplayed {
    width: 750px;
    min-height: 510px;
  }
  .informationDisplayed {
    width: 375px;
  }
  .line-recipePage {
    width: 808px;
  }
}
@media (min-width: 1280px) {
  .centerRecipePage {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .recipe-page-main {
    width: 1050px;
    border: 1.5px solid #b3b4b48c;
    background-color: #ffffffc5;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0 5px 0;
  }
  .centerImageAndWarnings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .singleRecipeLabel {
    font-size: 2rem;
  }
  .singleViewRecipeImage {
    width: 250px;
  }
  .singleRecipeFacts {
    font-size: 0.9rem;
  }
  .healthAndWarningsContainer-recipe {
    width: 100%;
    margin: 0;
  }
  p.red-bg,
  p.green-bg {
    font-size: 1rem;
  }
  .recipeInfoLabel {
    font-size: 1.1rem;
    padding: 8px 43.5px;
  }
  .shadedRecipeInfoLabel {
    font-size: 1.1rem;
    padding: 8px 43.5px;
  }
  .RecipeInfoDisplayed {
    min-height: 445px;
  }
  h4.singleRecipeInformation {
    font-size: 0.9rem;
  }
  p.singleRecipeInformation {
    font-size: 0.9rem;
  }
  .line-recipePage {
    width: 624.5px;
    margin: 8px 0;
  }
}
@media (min-width: 1440px) {
  .singleRecipeLabel {
    font-size: 2.1rem;
  }
  .singleViewRecipeImage {
    width: 300px;
  }
  .singleRecipeFacts {
    font-size: 1rem;
  }

  p.red-bg,
  p.green-bg {
    font-size: 1.1rem;
  }
  .recipeInfoLabel {
    font-size: 1.2rem;
    padding: 8px 50.1px;
  }
  .shadedRecipeInfoLabel {
    font-size: 1.2rem;
    padding: 8px 50.1px;
  }
  .RecipeInfoDisplayed {
    width: 600px;
    min-height: 465px;
  }
  .informationDisplayed {
    width: 300px;
  }
  h4.singleRecipeInformation {
    font-size: 1rem;
  }
  p.singleRecipeInformation {
    font-size: 1rem;
  }
  .line-recipePage {
    width: 702.8px;
  }
}
