html,
body {
  overscroll-behavior-y: contain;
}
@font-face {
  font-family: 'good';
  src: url('./assets/Good\ Vibes\ -\ Demo.ttf');
}

.App {
  text-align: center;
  min-height: 100vh;
}
.default {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingImage {
  width: 100px;
}
.uppercase {
  text-transform: capitalize;
}
.marginFromFooter {
  padding: 0 0 10px 0;
}
.red {
  color: red;
  font-weight: 700;
  padding: 5px 0;
}
.white-hv:hover {
  cursor: pointer;
  text-shadow: 0 0 5px white;
}

h1.basicHeader {
  font-family: 'good';
  color: white;
  text-shadow: 0 0 5px #444a5a;
  font-size: 2rem;
  font-weight: 500;
  padding: 10px 0 2px 0;
  background-color: #92ca64;
}

h4 {
  padding: 0;
}
section {
  margin: 0;
}
.wrapper {
  position: relative;
}

nav {
  background-image: linear-gradient(#444a5a, #4d5366);
  color: #ffffff;
  position: absolute;
  z-index: 10;
  width: 100vw;
}
.spacingFromNav {
  height: 90px;
}
.creatorSpacingFromNav {
  height: 145px;
}
.navSpacing {
  height: 116px;
}

.white {
  color: #ffffff;
}

.white:hover {
  cursor: pointer;
  text-shadow: 0 0 2.5px #ffffffb2;
  text-decoration: underline;
}
.centerLine {
  display: flex;
  justify-content: center;
}
.line {
  height: 1px;
  background-color: #81848d;
  width: 80vw;
  margin: 8px 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: linear-gradient(#4d5366, #444a5a);
  margin: 0;
  color: white;
  padding: 13px 0;
  z-index: 5;
}
.headerOrFooterBiggerScreens {
  display: none;
}
.hidden {
  display: none;
}
.homeButton {
  padding: 10px;
  margin: 0;
}
.footerButton,
.homeButton {
  font-size: 1.1rem;
}
.defaultHeight {
  min-height: 100vh;
}
.big-view {
  display: none;
}
.background-added {
  background-image: url(./assets/front.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
img.home {
  width: 100vw;
  z-index: -1;
}
@media (min-width: 375px) {
  .footerButton,
  .homeButton {
    font-size: 1.2rem;
  }
}
@media (min-width: 411px) {
  .footerButton,
  .homeButton {
    font-size: 1.3rem;
  }
}
@media (min-width: 600px) {
  .footerButton,
  .homeButton {
    font-size: 1.4rem;
  }
}
@media (min-width: 760px) {
  .footerButton,
  .homeButton {
    font-size: 1.35rem;
  }
}
@media (min-width: 1024px) and (min-height: 1366px) {
  .footerButton,
  .homeButton {
    font-size: 1.55rem;
  }
}

@media (min-width: 1280px) {
  /* header start */
  nav {
    width: 100vw;
  }
  .footerButton,
  .homeButton {
    font-size: 1.15rem;
  }
  /* header end */
  /* general start */
  .big-view {
    display: block;
  }
  .line {
    height: 1px;
    background-color: #81848d;
    width: 49vw;
    margin: 10px 0;
  }
  .spash-bg {
    background-image: url(./assets/front.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }
  .shaded-bg {
    display: flex;
    justify-content: center;
    background-color: #686b7727;
    width: 100vw;
    z-index: 1;
  }
  .no-shaded-bg {
    display: flex;
    justify-content: center;
    width: 100vw;
    z-index: 1;
  }
  .single-view-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffffc5;
    width: 90vw;
    position: relative;
    z-index: 3;
  }
  .single-view-page-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background opacity on big screen */
    /* background-color: #ffffffe1; */
    width: 100vw;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 20px black, 0 0 10px #777777b6;
  }
  .shaded-bg-lighter {
    display: flex;
    justify-content: center;
    background-color: #ffffffea;
    width: 100vw;
    z-index: 1;
  }
  .mobile-tablet {
    display: none;
  }
  .center-home-options {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px 0;
  }
  /* general end */
}
