@font-face {
  font-family: 'good';
  src: url('./assets/Good\ Vibes\ -\ Demo.ttf');
}
.App {
  text-align: center;
}
.home {
  width: 100vw;
}
h1 {
  font-family: 'good';
  font-size: 5rem;
  font-weight: 500;
  margin: 10px 0;
}
input {
  margin: 10px;
}
