@font-face {
  font-family: 'good';
  src: url('./assets/Good\ Vibes\ -\ Demo.ttf');
}
.App {
  text-align: center;
  min-height: 100vh;
  font-size: 1rem;
}
.home {
  width: 100vw;
}
h1 {
  font-family: 'good';
  color: white;
  text-shadow: 0 0 5px #444a5a;
  font-size: 5rem;
  font-weight: 500;
  padding: 15px 0 0 0;
  margin: 0;
  background-image: linear-gradient(#92ca64, #92ca64);
}
section {
  margin: 0;
}
h4 {
  margin: 0;
  padding: 0;
}
input,
button {
  font-size: 1rem;
}
.Search {
  margin-right: 10px;
  width: 70vw;
}
button {
  margin: 10px 10px 10px 0;
}
.wrapper {
  position: relative;
}
.navSpacing {
  height: 75px;
}
nav {
  background-image: linear-gradient(#444a5a, #4d5366);
  color: white;
  padding: 0 5px;
  position: absolute;
  z-index: 2;
  width: 100vw;
}
div.categories {
  cursor: pointer;
}
.categoriesBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: linear-gradient(#4d5366, #444a5a);
  margin: -5px 0 0 0;
  color: white;
}
.hidden {
  display: none;
}
.white {
  color: #ffffff;
}
.white:hover {
  cursor: pointer;
  text-shadow: 0 0 2.5px #ffffffb2;
}
.line {
  height: 1px;
  background-color: #81848d;
  width: 80vw;
  margin: 10px 0;
}
.searchOptions {
  margin: 10px;
}
.CaloriesAndCookTime {
  display: flex;
}
.numberInput {
  width: 45px;
}
.displayedLabelbox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 5px 0 5px;
}
.displayedLabel {
  display: flex;
  align-items: center;
  background-color: #687086;
  border-radius: 5px;
  padding: 5px;
  margin: 2px 2px;
}
p.Label {
  margin: 0;
  padding-left: 5px;
}
